.tabwid table{
  border-collapse:collapse;
  line-height:1;
  margin-left:auto;
  margin-right:auto;
}
.tabwid th{
  padding:0;
}
.tabwid td {
    line-height: 1em;
    padding: 0;
}
.tabwid thead {
    background-color: transparent;
}
.tabwid table tr {
background-color: transparent;
}
.tabwid table tr:nth-child(2n) {
background-color: transparent;
}

